---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2030&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GhYd5HlQ4lxw7FZWBVpRvtx",
          "object": "token",
          "card": {
            "id": "card_1GhYd5HlQ4lxw7FZjGbKcYsF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2030,
            "fingerprint": "xDvEx6bRifNk7pxO",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "119.240.42.1",
          "created": 1589191979,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 11 May 2020 10:12:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=create_or_update_customer%40bungomail.com&source=tok_1GhYd5HlQ4lxw7FZWBVpRvtx
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_HG4mjiSWJpjCtd",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1589191980,
          "currency": null,
          "default_source": "card_1GhYd5HlQ4lxw7FZjGbKcYsF",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "create_or_update_customer@bungomail.com",
          "invoice_prefix": "9AE1FF07",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GhYd5HlQ4lxw7FZjGbKcYsF",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_HG4mjiSWJpjCtd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2030,
                "fingerprint": "xDvEx6bRifNk7pxO",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_HG4mjiSWJpjCtd/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_HG4mjiSWJpjCtd/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_HG4mjiSWJpjCtd/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 11 May 2020 10:13:00 GMT
recorded_with: VCR 5.1.0
