---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1590937200&customer=cus_HFdJZzJpmXdQd8&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/payment_intents"
        }
  recorded_at: Wed, 10 Jun 2020 08:51:34 GMT
recorded_with: VCR 5.1.0
