---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1588258800&customer=cus_HFdJZzJpmXdQd8&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "pi_1Gh8fMHlQ4lxw7FZT10sIBUX",
              "object": "payment_intent",
              "allowed_source_types": [
                "card"
              ],
              "amount": 344,
              "amount_capturable": 0,
              "amount_received": 344,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_1Gh8fMHlQ4lxw7FZ3kwliXN3",
                    "object": "charge",
                    "amount": 344,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": "txn_1Gh8fMHlQ4lxw7FZfDCKHYjK",
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": "JP",
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": "BUNGOMAIL PRO",
                    "captured": true,
                    "created": 1589092176,
                    "currency": "jpy",
                    "customer": "cus_HFdJZzJpmXdQd8",
                    "description": "Subscription creation",
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": null,
                    "failure_message": null,
                    "fraud_details": {
                    },
                    "invoice": "in_1Gh8fLHlQ4lxw7FZ8Vdglidf",
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "approved_by_network",
                      "reason": null,
                      "risk_level": "normal",
                      "risk_score": 52,
                      "seller_message": "Payment complete.",
                      "type": "authorized"
                    },
                    "paid": true,
                    "payment_intent": "pi_1Gh8fMHlQ4lxw7FZT10sIBUX",
                    "payment_method": "card_1Gh83cHlQ4lxw7FZD0kv3pu2",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": null
                        },
                        "country": "US",
                        "exp_month": 1,
                        "exp_year": 2030,
                        "fingerprint": "xDvEx6bRifNk7pxO",
                        "funding": "credit",
                        "installments": null,
                        "last4": "4242",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": "https://pay.stripe.com/receipts/acct_1DxrygHlQ4lxw7FZ/ch_1Gh8fMHlQ4lxw7FZ3kwliXN3/rcpt_HFdxK6ufH8D2rumH6q9pxsSsPqPAms2",
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_1Gh8fMHlQ4lxw7FZ3kwliXN3/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": {
                      "id": "card_1Gh83cHlQ4lxw7FZD0kv3pu2",
                      "object": "card",
                      "address_city": null,
                      "address_country": "JP",
                      "address_line1": null,
                      "address_line1_check": null,
                      "address_line2": null,
                      "address_state": null,
                      "address_zip": null,
                      "address_zip_check": null,
                      "brand": "Visa",
                      "country": "US",
                      "customer": "cus_HFdJZzJpmXdQd8",
                      "cvc_check": null,
                      "dynamic_last4": null,
                      "exp_month": 1,
                      "exp_year": 2030,
                      "fingerprint": "xDvEx6bRifNk7pxO",
                      "funding": "credit",
                      "last4": "4242",
                      "metadata": {
                      },
                      "name": null,
                      "tokenization_method": null
                    },
                    "source_transfer": null,
                    "statement_descriptor": "BungoMail PRO",
                    "statement_descriptor_suffix": null,
                    "status": "succeeded",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_1Gh8fMHlQ4lxw7FZT10sIBUX"
              },
              "client_secret": "pi_1Gh8fMHlQ4lxw7FZT10sIBUX_secret_ehS4mQW9GzTeQicpdJwhR1fsR",
              "confirmation_method": "automatic",
              "created": 1589092176,
              "currency": "jpy",
              "customer": "cus_HFdJZzJpmXdQd8",
              "description": "Subscription creation",
              "invoice": "in_1Gh8fLHlQ4lxw7FZ8Vdglidf",
              "last_payment_error": null,
              "livemode": false,
              "metadata": {
              },
              "next_action": null,
              "next_source_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "receipt_email": null,
              "review": null,
              "setup_future_usage": "off_session",
              "shipping": null,
              "source": "card_1Gh83cHlQ4lxw7FZD0kv3pu2",
              "statement_descriptor": "BungoMail PRO",
              "statement_descriptor_suffix": null,
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": null
            }
          ],
          "has_more": false,
          "url": "/v1/payment_intents"
        }
  recorded_at: Sun, 10 May 2020 07:08:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: payment_intent=pi_1Gh8fMHlQ4lxw7FZT10sIBUX
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1Gh9GhHlQ4lxw7FZnzBFFjxs",
          "object": "refund",
          "amount": 344,
          "balance_transaction": "txn_1Gh9GhHlQ4lxw7FZA2Oy4JVk",
          "charge": "ch_1Gh8fMHlQ4lxw7FZ3kwliXN3",
          "created": 1589094491,
          "currency": "jpy",
          "metadata": {
          },
          "payment_intent": "pi_1Gh8fMHlQ4lxw7FZT10sIBUX",
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Sun, 10 May 2020 07:08:12 GMT
recorded_with: VCR 5.1.0
