- content_for :breadcrumb do
  = link_to 'マイページ', user_path(current_user.token), class: 'section'
  %i.icon.right.angle.divider
  = link_to '配信チャネル', subscriptions_path, class: 'section'
  %i.icon.right.angle.divider
  チャネル作成

%h1 新しいチャネルを作成する

= form_for @channel, url: {action: 'create'}, html: {class: 'ui form'} do |f|
  = render partial: 'form', locals: {f: f}
