- css_file_name = Rails.env.production? ? JSON.load(File.read('tmp/csv_version.json'))["application.css"] : 'application.css'
%link(rel="stylesheet" href="/assets/stylesheets/#{css_file_name}")
%link(rel="preconnect" href="https://fonts.gstatic.com")
%link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")

.flex.items-center.justify-center.h-48
  %svg(class="w-6 h-6 mt-1 mr-2" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
    %path(d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z")
  Loading..

%script(src="https://js.stripe.com/v3/")
:javascript
  var stripe = Stripe("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
  stripe.redirectToCheckout({
    // Make the id field from the Checkout Session creation API response
    // available to this file, so you can provide it as argument here
    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
    sessionId: "#{@session.id}"
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
    console.log(result.error.message);
    location.href='/memberships/new';
  });
