.mb-4
  %h1.text-lg.font-bold.mb-4.flex.items-center
    %svg(class="w-6 h-6 mt-1 mr-2" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z")
    お支払い情報の管理（利用者メニュー）

.mb-12
  .mb-4.text-sm
    ご登録いただいているメールアドレスを入力すると、お支払情報を管理するためのセキュアなURLをメールでお送りします。

  = form_with(url: memberships_update_path, local: true, class: 'flex flex-col sm:flex-row mb-8') do |f|
    = f.email_field :email, class: "p-2 flex-1 rounded-l rounded-r sm:rounded-r-none border mb-2 sm:mb-0", placeholder: 'メールアドレス', required: true
    = button_tag type: 'submit', class: 'bg-indigo-500 border border-indigo-500 rounded-l sm:rounded-l-none rounded-r text-white px-4 py-2' do
      送信する

  .mb-4.text-sm
    .mb-2 リンク先のマイページでは、以下の操作が可能です。
    %ul.list-disc.list-inside
      %li お支払履歴の確認
      %li クレジットカード情報の更新
      %li お支払いの停止（キャンセル）
