%h1.ui.large.header
  %i.icon.credit.card.outline
  決済情報の登録

-# %small
-#   = link_to page_path(:plan) do
-#     %i.icon.chevron.right
-#     料金プランを確認する

.ui.secondary.center.aligned.segment
  %h3.ui.small.header
    月額500円(税込)
  %button#checkout-button.my-2.bg-indigo-600.text-white.text-center.font-bold.px-4.py-2.rounded(class="hover:opacity-75")
    決済情報を登録する
  %br
  %p 無料トライアル期間中に解約した場合、一切料金は発生いたしません

%h5.ui.small.header
  %i.icon.info.circle
  ご利用の流れ
.ui.bulleted.list
  .item
    クレジットカードを登録しても、無料トライアル期間が終了するまで料金は発生しません。
  .item
    無料トライアル終了前に解約いただいた場合、料金は一切発生しません。
  .item
    トライアル終了後、毎月1日に当月分の料金をご請求します。
%h5.ui.small.header
  %i.icon.exclamation.triangle
  その他注意事項
.ui.bulleted.list
  .item
    プランの解約はいつでも可能です。ただしすでにお支払いいただいた分の返金は致しかねますので、あらかじめご了承ください。
  .item
    決済に失敗した場合はメールでお知らせしますので、必要に応じて登録カード情報をご修正ください。数日経っても決済に失敗する場合、自動的に契約を解除させていただきます。
  .item
    一度解約してから再度ご契約いただいた場合、無料トライアルは付与されません。ご了承ください。
  .item
    利用可能なクレジットカードは、以下のブランドです。
    VISA, MasterCard, AmericanExpress, JCB, DinersClub, Discover




%script(src="https://js.stripe.com/v3/")
:javascript
  var stripe = Stripe("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    stripe.redirectToCheckout({
      // Make the id field from the Checkout Session creation API response
      // available to this file, so you can provide it as argument here
      // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
      sessionId: "#{@session.id}"
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
  });
