.mb-4
  %h1.text-lg.font-bold.mb-4.flex.items-center
    %svg(class="w-6 h-6 mt-1 mr-2" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z")
    決済情報の登録

.mb-12
  .mb-4 お申し込みいただく内容をご確認ください。

  .max-w-sm.mb-4
    .rounded.border.flex.flex-col.text-center
      .h5.text-sm.font-bold.px-4.py-1.border-b.bg-gray-100
        Basicプラン
      .p-4.flex-1
        .mb-2.text-3xl.font-bold
          ￥350
          .text-sm.inline /月 (税込)
        .text-sm
          毎月1冊、おまかせ読書
      .px-2.pt-2.pb-4
        = link_to memberships_create_path, class: 'block w-full rounded py-3 bg-red-600 text-white text-sm' do
          クレジットカードで支払う
  .text-xs.px-4.py-2.rounded.bg-blue-50.border.border-blue-500.text-blue-700.flex.items-center
    %svg(class="mr-2 w-8 h-8 fill-current" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
      %path(d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z")
    本サービスの決済には、世界的に利用シェアの高い決済プラットフォームであるStripeを利用しています。クレジットカード情報は当社では保持せず、Stripe社にて国際基準に準拠して安全に保管されます。

.mb-12
  %h5.font-bold.text-lg.mb-4
    ▼ ご利用の流れ
  %img.mb-4(src="/assets/images/flow.png")
  -# %div(class="rounded bg-blue-50 border border-blue-500 mb-12 px-4 py-3 text-blue-900 text-xs sm:text-sm")
  -#   %svg(class="inline-block mr-1 w-5 h-5 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
  -#     %path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z")
  -#   %span(class="flex-1")
  -#     6月中は有料プランの登録有無に関わらず、これまで通り無料で作品が配信されます。7月以降も

  %ul.list-disc.list-inside
    %li
      .inline.font-bold.text-red-600 翌月初から1ヶ月間のトライアル期間
      となります。トライアル開始までしばらくお待ちください。
    %li
      無料トライアル終了前に解約いただいた場合、料金は一切発生しません。
    %li
      トライアル終了後、
      .inline.font-bold.text-red-600 毎月1日
      に当月分の料金をご請求します。

.mb-12
  %h5.font-bold.text-lg.mb-4
    ▼ その他・注意事項
  %ul.list-disc.list-inside
    %li
      プランの解約はいつでも可能です。ただしすでにお支払いいただいた分の返金は致しかねますので、あらかじめご了承ください。
    %li
      決済に失敗した場合はメールでお知らせしますので、必要に応じて登録カード情報をご修正ください。数日経っても決済に失敗する場合、自動的に契約を解除させていただきます。
    %li
      一度解約してから再度ご契約いただいた場合、無料トライアルは付与されません。ご了承ください。
