#breadcrumb.ui.basic.segment
  .ui.small.breadcrumb
    - @breadcrumbs.each do |item|
      .section
        - if item[:url]
          = link_to item[:url] do
            %span= item[:name]
          %i.icon.right.angle.divider
        - else
          .section
            %div
              %span= item[:name]
