%h5.ui.small.dividing.header
  %i.icon.question.circle
  Contact
.ui.secondary.segment
  %p Please contact us anytime through the form below.
  = link_to 'https://forms.gle/MFpUGvm68DLCmWDQ9', class: 'ui large fluid primary button', target: '_blank' do
    Contact
