.mb-30
  .ui.breadcrumb
    = link_to 'Channels', channels_path, class: 'section'
    %i.icon.right.angle.divider
    New

.mb-50
  %h1.ui.large.header
    New Channel

  = render partial: 'form', locals: { channel: @channel }
