%h1 ようこそ
%p こんにちは

Hello,
= @user.email
===============================================

You have requested a magic link for logging in.

To login, just follow the link below:

= @url

Have a great day!
