%p 以下のリンクからブンゴウメールにログインできます。

= link_to @url, @url.to_s, target: '_blank'

%div
  %small
    このメールはブンゴウメールのメールアドレスログインを実行したために送信されています。
    %br
    もしこのメールに心当たりがない場合はメールを破棄してください。
%br

%div
  ==================
  %br
  %small 配信元: ブンゴウメール編集部
  %br
  %small NOT SO BAD, LLC.
  %br
  %small Web: https://bungomail.com
  %br
  %small Mail: info@notsobad.jp
