%p You can signin BungoMail from the following link:

= link_to @url, @url.to_s, target: '_blank'

%div
  %small
    This email is sent because your email address is submitted on the signin form.
    %br
    If you did not try this, please ignore the email.
%br

%div
  ==================
  %br
  %small Bungo Mail
  %br
  %small NOT SO BAD, LLC.
  %br
  %small Web: https://en.bungomail.com
  %br
  %small Mail: info@notsobad.jp
