#{@channel.title}

（#{@chapter.text.length}字。目安の読了時間：#{@chapter.text.length.quo(500).ceil}分）

= @chapter.text


\=============================
ブンゴウメールPRO（ベータ版）

公式サイト: https://bungomail.notsobad.jp
運営: 合同会社NOT SO BAD
お問い合わせ: info@notsobad.jp
