!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title 【ブンゴウメール】アカウント認証メール
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      /**
       * Google webfonts. Recommended to include the .woff version for cross-client compatibility.
       */
      @media screen {
        @font-face {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 400;
          src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
        }

        @font-face {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
        }
      }

      /**
       * Avoid browser level font resizing.
       * 1. Windows Mobile
       * 2. iOS / OSX
       */
      body,
      table,
      td,
      a {
        -ms-text-size-adjust: 100%; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
      }

      /**
       * Remove extra space added to tables and cells in Outlook.
       */
      table,
      td {
        mso-table-rspace: 0pt;
        mso-table-lspace: 0pt;
      }

      /**
       * Better fluid images in Internet Explorer.
       */
      img {
        -ms-interpolation-mode: bicubic;
      }

      /**
       * Remove blue links for iOS devices.
       */
      a[x-apple-data-detectors] {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
        text-decoration: none !important;
      }

      /**
       * Fix centering issues in Android 4.4.
       */
      div[style*="margin: 16px 0;"] {
        margin: 0 !important;
      }

      body {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      /**
       * Collapse table borders to avoid space between cells.
       */
      table {
        border-collapse: collapse !important;
      }

      a {
        color: #1a82e2;
      }

      img {
        height: auto;
        line-height: 100%;
        text-decoration: none;
        border: 0;
        outline: none;
      }
  %body{:style => "background-color: #e9ecef;"}
    / start preheader
    .preheader{:style => "display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;"}
      ブンゴウメールのアカウント認証用メールです。以下のボタンをクリックしてアカウントを認証してください。
    / end preheader
    / start body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      / start hero
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef"}
          /[if (gte mso 9)|(IE)]
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
            <td align="center" valign="top" width="600">
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;"}
                %h1{:style => "margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -1px; line-height: 48px;"} ブンゴウメール アカウント認証
          /[if (gte mso 9)|(IE)]
            </td>
            </tr>
            </table>
      / end hero
      / start copy block
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef"}
          /[if (gte mso 9)|(IE)]
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
            <td align="center" valign="top" width="600">
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            / start copy
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"}
                %p{:style => "margin: 0;"}
                  以下のボタンをクリックして、ブンゴウメールのアカウントを認証してください。
                  -# If you didn't create an account with
                  -# %a{:href => "https://en.bungomail.com"} BungoMail
                  -# , you can safely delete this email.
            / end copy
            / start button
            %tr
              %td{:align => "left", :bgcolor => "#ffffff"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:align => "center", :bgcolor => "#ffffff", :style => "padding: 12px;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:align => "center", :bgcolor => "#1a82e2", :style => "border-radius: 6px;"}
                            %a{:href => @url, :style => "display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px;", :target => "_blank"}
                              このアカウントを認証する
            / end button
            / start copy
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"}
                %p{:style => "margin: 0;"} もし上記のボタンが利用できない場合は、以下のURLをコピーしてブラウザから直接アクセスしてください。
                %p{:style => "margin: 0;"}
                  %a{:href => @url, :target => "_blank"}= @url.to_s
            / end copy
            / start copy
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf"}
                %p{:style => "margin: 0;"}
                  ブンゴウメール編集部
            / end copy
          /[if (gte mso 9)|(IE)]
            </td>
            </tr>
            </table>
      / end copy block
      / start footer
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef", :style => "padding: 24px;"}
          /[if (gte mso 9)|(IE)]
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
            <td align="center" valign="top" width="600">
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            / start permission
            %tr
              %td{:align => "center", :bgcolor => "#e9ecef", :style => "padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;"}
                %p{:style => "margin: 0;"} このメールは、ブンゴウメールのアカウント登録フォームへの入力を受け付けたために配信されています。もし心当たりがない場合、こちらのメールはそのまま破棄していただいて問題ありません。
            / end permission
            / start unsubscribe
            %tr
              %td{:align => "center", :bgcolor => "#e9ecef", :style => "padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;"}
                %p{:style => "margin: 0;"}
                  %a{:href => 'https://bungomail.com', :target => "_blank"} ブンゴウメール
                  by NOT SO BAD, LLC. Tokyo, Japan.
            / end unsubscribe
          /[if (gte mso 9)|(IE)]
            </td>
            </tr>
            </table>
      / end footer
    / end body
