#breadcrumb
  .ui.small.breadcrumb
    - @breadcrumbs.each do |item|
      - if item[:url]
        = link_to item[:name], item[:url], class: 'section'
        %i.fas.fa-angle-right.divider
      - else
        %div.section= item[:name]

%script(type="application/ld+json")
  = jsonld_breadcrumb(@breadcrumbs).html_safe
