/* 共通 */
body {
  font-size: 14px;
  line-height: 1.4285em;
}
a {
  color: #4183c4;
  text-decoration: none;
}
.ui.container, footer { padding: 10px; }
.ui.header {
  border: none;
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0 0;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0,0,0,.87);
}
.ui.large.header {
  font-size: 1.71428571em;
}
.ui.secondary.menu {
  background: 0 0;
  margin-left: -.35714286em;
  margin-right: -.35714286em;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 2.5rem;
}
.ui.secondary.menu .item {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: .78571429em .92857143em;
  margin: 0 .35714286em;
  background: 0 0;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  border-radius: .28571429rem;
}
.ui.secondary.menu .active.item {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  border-radius: .28571429rem;
}


@media only screen and (max-width: 767px) {
  .computer.only { display: none; }
  .ui.responsive.button { width: 100%; }
}
@media only screen and (min-width: 768px) {
  .mobile.only { display: none; }
}
.only.non-amp { display: none; }
%i.icon { display: none; }


/* ヘッダー */
.ui.attached.borderless.menu { padding: 10px; }
.right.floated.menu { display: inline-block; }
.ui.attached.borderless.menu .computer.only {
  font-size: smaller;
  margin: 0 15px;
  display: inline-block;
}


/* パンくず */
.breadcrumb {
  display: flex;
  font-size: small;
}


/* 検索 */
.ui.secondary.scrolling.menu { padding: 10px 0; }
.ui.secondary.scrolling.menu .item { padding-right: 10px; }


/* 検索結果テーブル */
table .mobile.only .six.wide { width: 40%; }
table .mobile.only .nine.wide { width: 30%; }


/* 詳細ページ */
.sub.header { font-size: 1.5rem; }
table.definition.table .three.wide { width: 15%; }
table.definition.table .thirteen.wide { width: 85%; }
table.definition.table tr { border-bottom: 1px solid #ddd; }
