---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"hoge276@example.com"}]'
    headers:
      Authorization:
      - 'Bearer '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"authorization required"}]}'
  recorded_at: Fri, 08 May 2020 06:46:14 GMT
recorded_with: VCR 5.1.0
