%h1.ui.header
  %i.icon.folder.open
  カテゴリ一覧

.ui.divider

.ui.middle.alligned.divided.relaxed.large.link.list
  - @categories.each do |category|
    = link_to search_category_path(category), class: 'item' do
      .right.floated.content
        %i.icon.chevron.right
      .content
        .header
          = category.name
          &nbsp;
          %span.ui.mini.label
            100
            %small 作品
        .meta
          %small
            作品の文字数：#{category.range_from}〜#{category.range_to}文字
