%h1.ui.header
  %i.icon.folder.open
  カテゴリ一覧

.ui.divider

.ui.middle.alligned.divided.relaxed.large.link.list
  - @categories.each do |category|
    = link_to search_category_path(category), class: 'item' do
      .right.floated.content
        %i.icon.chevron.right
      .content
        .header
          = category.name
          &nbsp;
          %span.ui.small.label
            = category.books_count.to_s(:delimited)
            %small 作品
        .meta
          %small
            = category.id == 'all' ? '文字数指定なし' : characters_range(category)
