.ui.two.stackable.cards
  .ui.card
    .ui.secondary.center.aligned.attached.segment
      %h3.ui.small.header FREEプラン
    .content
      .description
        .ui.huge.center.aligned.red.header
          無料
          .sub.header 1チャネルだけならずっと無料
        .ui.divider
        .ui.small.header
          %i.icon.green.check
          購読可能チャネル数：1
          %br
          %small （無料版ブンゴウメールの公式配信は含みません）
        .ui.small.header
          %i.icon.green.check
          好きな作品の配信：❌
        .ui.small.header
          %i.icon.green.check
          メール内に広告が掲載されたり、広告メールが配信されたりします。
    = link_to login_path, class: 'ui bottom attached primary button' do
      ユーザー登録する（無料）
  %br/
  .ui.card
    .ui.secondary.center.aligned.attached.segment
      %h3.ui.small.header PROプラン
    .content
      .description
        .ui.huge.center.aligned.red.header
          ￥350/月
          .sub.header もっと読書を楽しみたいあなたに
        .ui.divider
        .ui.small.header
          %i.icon.green.check
          購読可能チャネル数： 5
        .ui.small.header
          %i.icon.green.check
          好きな作品の配信：⭕
        .ui.small.header
          %i.icon.green.check
          好きな作家の作品だけ、SF小説だけ、など好きなチャネルを複数同時に購読できます。
    = link_to new_charge_path, class: 'ui bottom attached red disabled button' do
      PROプランに登録する（14日間無料）
