-# facebook
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0&appId=139414576217599&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

%h1.mb-4
  = image_tag('/assets/images/campaigns/dogramagra.png', class: 'sm:max-w-xl', alt: 'ドグラ・マグラ365日配信チャレンジ')

.flex.flex-wrap.items-center.mb-4.space-x-1
  .fb-like(data-href="https://bungomail.com/campaigns/dogramagra" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true")
  %div
    %a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ドグラ・マグラ365日配信チャレンジ" data-url="https://bungomail.com/campaigns/dogramagra" data-hashtags="ブンゴウメール" data-show-count="false") Tweet
    %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  %div
    %a(href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加")
      %img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
    %script(type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")

.mb-8
  %p
    名作小説をメールで小分け配信するブンゴウメールで、2020年元旦より新企画
    %b.text-red 『ドグラ・マグラ365日配信チャレンジ』
    を実施いたします。
  %p
    一度は読んでみたかったけど手を出せていなかった人、途中まで読んだけどチャカポコで挫折した人、無事に読了したけど久しぶりに再読してみたい人、どなたでも大歓迎です。
    無料なのでぜひこの機会にチャレンジしてみてください。
  %div{class: 'mt-4 rounded bg-red-600 text-white px-4 py-2 block sm:inline-block text-center font-bold opacity-50'}
    キャンペーンは終了しました

.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 キャンペーン概要
  .mb-4
    『ドグラ・マグラ』は、構想・執筆に10年以上をかけたと言われる夢野久作の代表作で、日本三大奇書の1つに数えられる一大長編です。
    内容の不可思議さとその長さに読了を諦める人も多い一方、最後まで読み切ると精神に異常をきたすとも言われている魅惑的な書物です。
  .mb-4
    今回の「ドグラ・マグラ365日配信チャレンジ」では、この『ドグラ・マグラ』を365回に分けて、2020年1月1日から12月30日まで毎日配信いたします。
  .mb-4
    １回あたりの配信文字数は約1,000文字程度で、標準的な読書スピードでおよそ3分程度の文量になる予定です（回によって多少変動します）。
    また内容的に朝の気分ではなさそうなので、夜に配信する予定です。
  .mb-4
    ブゥーーーンで始まる素敵な1年を、みなさんと一緒に迎えられたら大変うれしく思います。

.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 配信期間
  %ul.space-y-4.mb-4
    %li - 2020年1月1日〜2020年12月30日
    %li - 毎日夜22時に配信予定です

  %small ※配信時間などは変更となる場合もあるかもしれません。

.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 登録方法
  %div{class: 'rounded bg-red-600 text-white px-4 py-2 block sm:inline-block text-center font-bold opacity-50'}
    キャンペーンは終了しました
  .mt-4.space-y-2
    .text-xs ※通常のブンゴウメール本編とは別に配信されます。本編に登録している方も、ドグラ・マグラの受信を希望する場合は改めてこちらで登録してください。
    .text-xs ※万が一登録が増えすぎた場合は有料化させていただくかもしれませんが、その場合は事前にご連絡いたします。申し訳ありませんがあらかじめご了承ください。

.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 解約方法
  .mb-4
    配信が不要になった場合、いつでも解約することができます。解約を希望するメールアドレスから、以下のアドレスまで空メールを送信してください。
  .mb-4.font-bold
    bungomail-dogramagra+unsubscribe@notsobad.jp


.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 注意や参考情報
  %ul.space-y-4
    %li
      \- ご利用の環境によっては、メールがフィルタされたり迷惑メールなどに振り分けられる場合があります。
      = link_to '公式ブログの記事', 'https://bungomail.hatenablog.com/entry/2018/05/21/172542', target: '_blank', class: 'text-link'
      などを参考に設定をご確認ください。
    %li
      \- 本配信を通して精神に何らかの異常をきたされても、弊社では一切責任を負いかねます。
      どうしても心配な方は先人による
      = link_to 'Yahoo!知恵袋の回答', 'https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q1027682090', target: '_blank', class: 'text-link'
      などが参考になるかと思いますので、ぜひ事前にご一読ください。
      大丈夫です。私も読んだことがありますが、精神に異常をきたしたりしておりません。
    %li
      \- 難解な長編なので、途中迷子になることもあると思います。
      そんなときは
      = link_to 'こちらのイラスト解説', 'https://togetter.com/li/1230259', target: '_blank', class: 'text-link'
      などを見ると気持ちが落ち着くと思うのでぜひご参考ください（ちょっとだけネタバレします）。

.mb-8
  %h3.font-bold.border-b.text-lg.mb-4 本件に関するお問い合わせ等
  .mb-4 info@notsobad.jp


.flex.flex-wrap.items-center.mb-24.space-x-1
  .fb-like(data-href="https://bungomail.com/campaigns/dogramagra" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true")
  %div
    %a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ドグラ・マグラ365日配信チャレンジ" data-url="https://bungomail.com/campaigns/dogramagra" data-hashtags="ブンゴウメール" data-show-count="false") Tweet
    %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  %div
    %a(href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加")
      %img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;")
    %script(type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")
