.ui.basic.segment
  %h1.ui.header
    よくある質問
    .sub.header FAQ

.ui.basic.segment
  .ui.divided.items
    .item
      .content
        .header
          有料プランに登録したけどメールが届かない
        .description
          %p
            お使いのメールソフトによっては、自動で迷惑メールフォルダなどにはいってしまう場合があります。
            特に
            %b.red Gmailや携帯キャリアアドレス
            をお使いの場合にフィルタされるケースが多いようです。
            公式ブログに対応方法をご案内しておりますので、メールが届かない場合はこちらを参考にご設定お願いいたします。 それでも届かない場合は運営までお問い合わせください。
          %p
            = link_to  'https://bungomail.hatenablog.com/entry/2018/05/21/172542', target: '_blank' do
              ブンゴウメールからメールを受信できないケースと対応方法について
              %i.icon.small.external
          %p
            有料プラン登録後に2週間の無料トライアル期間がありますので、必ずこの期間にメールが正しく受信できることを確認してください。
            また無料プランのままですとメールの受信はできません。メールの受信を希望される場合は有料プランへの登録をお願いします。
    .item
      .content
        .header
          メール配信を停止したい
        .description
          %p
            お支払いの停止は、ログイン後に「アカウント情報」ページの「解約する」ボタンで解約いただけます。
            すでにお支払い済みの期間中はメール配信が継続され、期間終了後に自動で配信も停止します。
          %p
            すぐにメール配信も止めたい場合は、お手数ですが購読中のチャネルを解除してください。
            またアカウント情報自体を削除して完全に退会したい場合はお手数ですがinfo@notsobad.jpまで「ブンゴウメールPRO退会希望」という件名でご連絡ください。
            （ご登録いただいているメールアドレスと異なるアドレスからご連絡いただく場合は、本文中でその旨をご教示ください）
    .item
      .content
        .header
          できれば無料でサービスを使いたい
        .description
          %p
            申し訳ありません、ブンゴウメールPROは有料でご利用いただくサービスとなっております。
            %br
            なお通常版のブンゴウメールであれば、作品が選べない代わりに無料でお楽しみいただけます。よければそちらのご利用もご検討ください。
          %p
            = link_to  'https://bungomail.com', target: '_blank' do
              ブンゴウメール（無料版）
              %i.icon.small.external
          %p
            また、ブンゴウメールPROでもRSSの配信のみでしたら無料でご利用いただけます。
            よければこちらもご活用ください。

    %br
    %br
    %br

    .ui.secondary.center.aligned.segment
      %p
        他にご不明な点があれば、以下のフォームやメール（info@notsobad.jp）からお気軽にお問い合わせください！
      %p
        = link_to 'お問い合わせフォーム', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank', class: 'ui primary button'
