.ui.basic.segment
  %h1.ui.header
    よくある質問
    .sub.header FAQ

.ui.basic.segment
  .ui.divided.items
    .item
      .content
        .header
          有料プランに登録したけどメールが届かない
        .description
          %p
            お使いのメールソフトによっては、自動で迷惑メールフォルダなどにはいってしまう場合があります。
            特に
            %b.red Gmailや携帯キャリアアドレス
            をお使いの場合にフィルタされるケースが多いようです。
            公式ブログに対応方法をご案内しておりますので、メールが届かない場合はこちらを参考にご設定お願いいたします。 それでも届かない場合は運営までお問い合わせください。
          %p
            = link_to  'https://bungomail.hatenablog.com/entry/2018/05/21/172542', target: '_blank' do
              ブンゴウメールからメールを受信できないケースと対応方法について
              %i.icon.small.external
          %p
            有料プラン登録後に2週間の無料トライアル期間がありますので、必ずこの期間にメールが正しく受信できることを確認してください。
            また無料プランのままですとメールの受信はできません。メールの受信を希望される場合は有料プランへの登録をお願いします。
    .item
      .content
        .header
          メール配信を停止したい
        .description
          %p
            お支払いの停止は、ログイン後に「アカウント情報」ページの「解約する」ボタンで解約いただけます。
            すでにお支払い済みの期間中はメール配信が継続され、期間終了後に自動で配信も停止します。
          %p
            すぐにメール配信も止めたい場合は、お手数ですが購読中のチャネルを解除してください。
            またアカウント情報自体を削除して完全に退会したい場合はお手数ですがinfo@notsobad.jpまで「ブンゴウメールPRO退会希望」という件名でご連絡ください。
            （ご登録いただいているメールアドレスと異なるアドレスからご連絡いただく場合は、本文中でその旨をご教示ください）
    .item
      .content
        .header
          RSSフィードを受信したい
        .description
          %p
            ブンゴウメールPROでメールを受信するには月額会員登録が必要ですが、RSSの配信のみでしたら無料で受信することができます。
          %p
            みんなで同時に読み進める「ストリーミング」チャネルを購読する場合、チャネルの詳細ページにRSSフィードのURLが記載されています。
            そのフィードURLをお使いのRSSリーダーに登録してください。
          %p
            自分のチャネルで好きな本を配信したい場合や、公開されているチャネルを自分で配信したい場合は、まずメールアドレスでログインしてください（無料）。
            その後チャネルの詳細ページから「配信開始」を選択すると、RSSフィードのURLも自動的に生成されます。
            あとは同様にそのフィードURLをRSSリーダーに登録してください。
    .item
      .content
        .header
          「公開」チャネルと「ストリーミング」チャネルの違いは？
        .description
          %p
            ブンゴウメールPROには、「非公開」「公開」「ストリーミング」の3種類のチャネルがあります。
          .ui.bulleted.list
            .item
              「非公開」チャネルは、作成した本人しか見れず、購読できるのも自分に限定されるチャネルです。
              ブンゴウメールPROでアカウントを登録すると、自動的に非公開チャネルが1つ作成されます。
              まずはこのチャネルに本を追加して配信してみてください。
            .item
              「公開」チャネルは、作成したチャネルが一般に公開され、誰でも購読できるようになります。
              各ユーザーが好きなときに配信開始することができ、配信時間なども購読者が自分で設定できます。
            .item
              「ストリーミング」チャネルは、配信者が作成・公開したあと、みんなで同時に読み進めるチャネルです。
              配信開始日・配信時間などは配信者が設定したものが全員に適用され、各自が変更することはできません。
    .item
      .content
        .header
          チャネル購読数の上限は？
        .description
          現在同時に購読できるチャネルは
          %b.red 3つ
          までとなっています。
          それ以上購読したい場合は、購読済みのチャネルを解除してから新たに購読してください。
    %br
    %br
    %br

    .ui.secondary.center.aligned.segment
      %p
        他にご不明な点があれば、以下のフォームやメール（info@notsobad.jp）からお気軽にお問い合わせください！
      %p
        = link_to 'お問い合わせフォーム', 'https://goo.gl/forms/jE387feQLYysiv5m2', target: '_blank', class: 'ui primary button'
