.ui.basic.segment
  %h1.ui.header
    料金プラン

.ui.basic.segment
  %p
    ブンゴウメールには、無料でご利用いただける「FREEプラン」と月額会員登録が必要な「PROプラン」があります。

  .ui.info.message
    .header
      %i.icon.gift
      RSSフィードはいくつでも無料で利用可能
    購読できるチャネルはプランごとに上限がありますが、RSSフィードは無料でいくつでも受信可能です。
    詳細は「
    = link_to 'RSSフィードの受信方法', page_path(:faq)
    」をご覧ください。
  %br

  = render partial: 'price_table'

.ui.divider

.ui.basic.segment
  %h5.ui.small.header
    %i.icon.info.circle
    ご利用の流れ
  .ui.bulleted.list
    .item
      決済情報の登録から、
      %b.red 14日間は無料トライアル
      期間としてすべての機能をご利用いただけます。
    .item
      トライアル
      %b.red 終了3日前に、メールでお知らせ
      します。
      トライアル終了前に解約いただいた場合、料金は一切発生しません。
    .item
      トライアル終了後、1ヶ月分の料金をご請求します。その後は1ヶ月毎に料金が発生いたします。
  %h5.ui.small.header
    %i.icon.exclamation.triangle
    その他注意事項
  .ui.bulleted.list
    .item
      プランの解約はいつでも可能です。ただしすでにお支払いいただいた分の返金は致しかねますので、あらかじめご了承ください。
    .item
      決済に失敗した場合はメールでお知らせしますので、必要に応じて登録カード情報をご修正ください。数日経っても決済に失敗する場合、自動的に契約を解除させていただきます。
    .item
      一度解約してから再度PROプランを契約した場合、無料トライアルは付与されません。ご了承ください。
    .item
      利用可能なクレジットカードは、以下のブランドです。
      VISA, MasterCard, AmericanExpress, JCB, DinersClub, Discover
