.ui.basic.segment
  %h1.ui.header
    特定商取引法に基づく表記
    .sub.header Terms of Sales

.ui.basic.segment
  %table.ui.definition.table
    %tr
      %td 販売業者
      %td
        合同会社NOT SO BAD（英文表記: NOT SO BAD, LLC.）
    %tr
      %td 代表責任者
      %td
        代表社員 大西智道
    %tr
      %td 所在地
      %td
        %h6.ui.small.header 【本社】
        〒170-0012
        東京都豊島区上池袋1-16-6
        %h6.ui.small.header 【事業所】
        〒112-0002
        東京都文京区小石川4-16-6

    %tr
      %td 電話番号
      %td
        050-5241-5019（代表）
    %tr
      %td 電話受付時間
      %td
        平日10:00〜17:00
    %tr
      %td 公開メールアドレス
      %td
        info@notsobad.jp
    %tr
      %td ホームページURL
      %td
        https://notsobad.jp
    %tr
      %td 引き渡し時期
      %td
        決済完了後、すぐにご利用開始となります。
    %tr
      %td お支払方法
      %td クレジットカード
    %tr
      %td 販売価格（役務の対価）
      %td PROプラン 月額350円（税込）
    %tr
      %td 返品・交換・キャンセル等
      %td サービスの性質上、返品・返金はお受けしておりません。
    %tr
      %td 中途解約について
      %td
        月の途中の解約となった場合も１ヶ月分の料金が発生し、
        日割清算等による返金を含めた一切の返金は行われません。
