.mb-8
  %h1.font-bold.text-lg
    特定商取引法に基づく表記
  .text-gray-500 Terms of Sales

.mb-8
  %table.text-left.text-sm
    %tr
      %th
        販売業者
      %td
        合同会社NOT SO BAD（英文表記: NOT SO BAD, LLC.）
    %tr
      %th
        代表責任者
      %td
        代表社員 大西智道
    %tr
      %th 所在地
      %td
        〒112-0002
        東京都文京区小石川4-16-6

    %tr
      %th 電話番号
      %td
        050-5241-5019（代表）
        %br
        平日10:00〜17:00
    %tr
      %th 公開メールアドレス
      %td
        info@notsobad.jp
    %tr
      %th ホームページURL
      %td
        https://notsobad.jp
    %tr
      %th 引き渡し時期
      %td
        決済登録完了後、翌月1日から1ヶ月間の無料トライアルを開始します。
        無料トライアル期間終了後に初回の支払いが行われます。
    %tr
      %th お支払方法
      %td クレジットカード
    %tr
      %th 販売価格（役務の対価）
      %td
        月額500円
        %small.text-xs（税込550円）
    %tr
      %th 返品・交換・キャンセル等
      %td サービスの性質上、返品・返金はお受けしておりません。
    %tr
      %th 中途解約について
      %td
        月の途中の解約となった場合も１ヶ月分の料金が発生し、
        日割清算等による返金を含めた一切の返金は行われません。
