%h1.ui.header
  %i.icon.search
  作品検索

%div
  %small
    = link_to 'https://www.aozora.gr.jp/index_pages/index_top.html', target: '_blank' do
      青空文庫で作品を探す
      %i.icon.external
.ui.secondary.padded.segment
  = form_tag do
    .ui.action.fluid.input
      = text_field_tag :keyword, nil, placeholder: '作品名 or 著者名'
      = button_tag type: :submit, class: 'ui primary button' do
        %i.search.icon
        検索
