- content_for :breadcrumb do
  作品検索

%h1.ui.header 作品検索

.ui.secondary.padded.segment
  .ui.action.fluid.input
    %input#searchInput(type="text" placeholder="青空文庫の作品URL")
    = link_to '/books/scrape/?url=', id: 'searchButton', class: 'ui primary button', method: :post, remote: true do
      %i.search.icon
      検索
#loader.ui.disabled.text.loader Loading..

%br

#searchResult.ui.middle.alligned.divided.relaxed.large.list
  - @books.each do |book|
    .item
      .right.floated.content
        .ui.small.basic.buttons
          = link_to 'チャネルに追加', add_book_channel_path(id: @default_channel_id, book_id: book.id), method: :post, class: 'ui button'
          .ui.floating.dropdown.icon.button
            %i.dropdown.icon
            .menu
              .item
                %i.icon.edit Edit
                %i.icon.edit Edit
                %i.icon.edit Edit
      .content
        .header= book.title
        .meta
          %small= book.author
