#breadcrumb(style="margin: 1rem 0 !important;")
  .ui.small.breadcrumb
    .section
      = link_to root_path do
        %span TOP
    %i.icon.right.angle.divider
    - @breadcrumbs.each do |item|
      .section
        - if item[:url]
          = link_to item[:url] do
            %span= item[:name]
          %i.icon.right.angle.divider
        - else
          .section
            %div
              %span= item[:name]
