---
http_interactions:
- request:
    method: post
    uri: https://admin.googleapis.com/admin/directory/v1/groups/test@notsobad.jp/members
    body:
      encoding: UTF-8
      string: '{"email":"test5+alias@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.A0AfH6SMAqOu2g1pcwDBgQD_M_2Tyesn-aiaHQ2uzyizbJ8r4oUdxrsbgunUyrkAhRyBNutNL3_t6bOgJ0aW8nV_xL3gmPtY5JNYMVoLD43tHMH8uSVcQ4P72CsCU4Jkkl9ube4wOrSKKwskUzg2Vo2kUiYzKGovWDHwZM7zikv1HyndiZCAs89L9dV4r3pqw8b0-vi8kKOKE
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "Resource Not Found: test5+alias@gmail.com",
            "errors": [
              {
                "message": "Resource Not Found: test5+alias@gmail.com",
                "domain": "global",
                "reason": "notFound"
              }
            ]
          }
        }
  recorded_at: Sun, 28 Feb 2021 07:03:23 GMT
recorded_with: VCR 6.0.0
