= simple_format_with_link(feed.chapter.text)
%br

- if (comment = feed.comment.try(:text)).present?
  \----------
  = simple_format_with_link(comment)
  %br

- if (footer = feed.subscription.footer).present?
  \----------
  = simple_format_with_link(footer)
  %br
