= render partial: 'course_header', locals: {course: @course, subscription: @subscription, path: 'course'}

.ui.small.horizontal.list
  .item
    %i.icon.book
    登録数：
    = @course.course_books.count
    冊

%div= simple_format_with_link @course.description
