%h1.ui.medium.header
  %i.icon.mail
  メールでログイン

= form_tag magic_tokens_path, method: :post do
  .ui.action.fluid.input
    = text_field_tag :email, nil, placeholder: 'メールアドレス'
    %button.ui.pink.right.labeled.icon.button
      送信
      %i.send.icon

.ui.basic.segment
  .ui.bulleted.list
    %small.item
      入力したメールアドレスに、ログイン用URLが届きます。
    %small.item
      ログインすることで、
      = link_to '利用規約', page_path(:terms), class: 'item'
      および
      = link_to 'プライバシーポリシー', page_path(:privacy), class: 'item'
      に同意したものとみなします。
