.channel-cover.ui.segment {
  padding: 0;
  border: none;

  img { max-height: 300px; }

  @media only screen and (max-width: 767px) {
    max-width: 100vw;
    width: 100vw;
    margin-left: -1em;
  }
}
