#main-content {
  margin: 45px 0;
  word-break: break-all;
  min-height: calc(100vh - 190px);
}
#breadcrumb { margin-bottom: 2rem; }

.hidden { display: none; }

.handler {
  cursor: move;
  cursor: -webkit-grabbing;
}
