section, footer { padding: 50px 10px !important; }

#main-content {
  margin: 45px 0;
  word-break: break-all;
  min-height: calc(100vh - 190px);
}
#breadcrumb {
  margin-bottom: 2rem;
}

.hidden { display: none !important; }

.handler {
  cursor: move;
  cursor: -webkit-grabbing;
}

.ui.horizontal.divider:before { background-color: transparent; }

.seigaiha {
  background-image: image-url('seigaiha.png') !important;
}

.red { color: #db2828; }

footer.ui.segment {
  color: rgba(255,255,255,.6);
  margin-bottom: 0;
}
footer a { color: #fff !important; }

.ui.checkbox .box, .ui.checkbox label { cursor: pointer; }


@media only screen and (max-width: 767px) {
  .computer.only { display: none !important; }
  #sidebar {
    border-top: 1px solid #ddd;
    margin-top: 50px !important;
    padding-top: 50px !important;
  }
  .scrolling {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    overflow-scrolling: touch !important;
  }
  .scrolling > .ui.card {
    flex: 0 0 60% !important;
  }
}
