section, footer { padding: 50px 10px !important; }

#main-content {
  margin: 40px 0;
  word-break: break-all;
  min-height: calc(100vh - 190px);
}
#breadcrumb {
  margin-bottom: 2rem;
}

.hidden { display: none !important; }

.handler {
  cursor: move;
  cursor: -webkit-grabbing;
}

.ui.horizontal.divider:before { background-color: transparent; }

.ui.form .inline.fields { line-height: 2em; }

.seigaiha {
  background-image: image-url('seigaiha.png') !important;
}

.red { color: #db2828; }

.ui.header > .icon { display: inline-block !important; }

footer.ui.segment {
  color: rgba(255,255,255,.6);
  margin-bottom: 0;
}
footer a { color: #fff !important; }

.ui.checkbox .box, .ui.checkbox label { cursor: pointer; }

.ui.transparent.button { box-shadow: none !important; }

.right.floated { float: right; }

/* Zorasearch */
#search #breadcrumb { margin: 1rem 0 !important; }


@media only screen and (max-width: 767px) {
  .computer.only { display: none !important; }
  #sidebar {
    border-top: 1px solid #ddd;
    margin-top: 50px !important;
    padding-top: 50px !important;
  }
  .scrolling {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    overflow-scrolling: touch !important;
  }
  .scrolling::-webkit-scrollbar {
    display: none;
  }
  .scrolling > .ui.card {
    flex: 0 0 60% !important;
  }
  .ui.responsive.button { width: 100%; }
}


@media only screen and (min-width: 768px) {
  body { height: auto; }
  .mobile.only { display: none !important; }

  .sticking {
    z-index: 1000;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px !important;
  }
}
