body[data-controller="pages"][data-action="top"] {
  h1 { margin: 0; }
  .ui.top.fixed.menu {
    border: none;
    box-shadow: none;
  }
}

#logo { max-width: 80%; }
#header { padding: 20px !important; }
#header-catch { margin-top: 30px; }
.sub.header { margin-top: 15px !important; }

.ui.mini.divider {
  width: 50px;
  margin: 50px auto;
  border-width: 3px !important;
  border-color: #333 !important;
}

@media only screen and (max-width: 767px) {
  #header .huge.header { font-size: 3em; }
}
