#lp {
  #header {
    h1 { margin: 0; }
    .sub.header { line-height: 1.5em; }
    .column { padding-top: 0 !important; }
  }
  .sub.header { margin-top: 15px !important; }
  .ui.mini.divider {
    width: 50px;
    margin: 50px auto;
    border-width: 3px !important;
    border-color: #333 !important;
  }
  .ui.fluid.card { max-width: 450px; }
  section {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  @media only screen and (max-width: 767px) {
    #header h1 img { max-width: 250px; }
    .huge.header .sub.header { font-size: 1.1rem; }
    .ui.mini.divider { margin: 30px auto; }
  }
}
