---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"sendgrid-test@bungomail.com"}]'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1589013238'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"new_count":0,"updated_count":0,"error_count":0,"error_indices":[],"unmodified_indices":[0],"persisted_recipients":["c2VuZGdyaWQtdGVzdEBidW5nb21haWwuY29t"],"errors":[]}

'
  recorded_at: Sat, 09 May 2020 08:33:57 GMT
recorded_with: VCR 5.1.0
