%h1.ui.header
  %i.icon.credit.card.outline
  決済情報の登録

.ui.secondary.center.aligned.segment
  %h3.ui.small.header PROプラン 月額350円(税込)
  = form_tag charges_path do
    %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-email="#{current_user.email}"
            data-key="#{Rails.configuration.stripe[:publishable_key]}"
            data-image="#{asset_path('avatar.png')}"
            data-name="ブンゴウメールPRO"
            data-description="14日間は無料トライアル"
            data-currency="JPY"
            data-amount="350"
            data-label="クレジットカードで決済する"
            data-panel-label="利用登録する（{{amount}}/月）"
            data-allow-remember-me="false"
            data-locale="auto")
  %br
  %p 14日間の無料トライアル期間中に解約した場合、一切料金は発生いたしません

-# TODO: ベータ版ユーザー限定特典
- if current_user.created_at < Time.zone.parse("2019-02-27")
  .ui.info.message
    .header
      %i.icon.gift
      ベータ版ユーザー限定特典
    ベータ期間中にご登録いただいたユーザーに限り、有料版登録日に関わらず
    %b.red 無料トライアル期間を【3月31日】 まで延長
    いたします。この機会にぜひご利用ください。

%h5.ui.small.header
  %i.icon.info.circle
  ご利用の流れ
.ui.bulleted.list
  .item
    決済情報の登録から、
    %b.red 14日間は無料トライアル
    期間としてすべての機能をご利用いただけます。
  .item
    トライアル期間終了後、初回は
    %b.red 翌5日までの日割り料金
    が請求されます。
  .item
    その後は
    %b.red 毎月5日
    に当月分の料金が請求されます。
%h5.ui.small.header
  %i.icon.exclamation.triangle
  その他注意事項
.ui.bulleted.list
  .item
    プランの解約はいつでも可能です。ただしすでにお支払いいただいた分の返金は致しかねますので、あらかじめご了承ください。
  .item
    決済に失敗した場合はメールでお知らせしますので、必要に応じて登録カード情報をご修正ください。数日経っても決済に失敗する場合、自動的に契約を解除させていただきます。
  .item
    一度解約してから再度PROプランを契約した場合、無料トライアルは付与されません。ご了承ください。
  .item
    利用可能なクレジットカードは、以下のブランドです。
    VISA, MasterCard, AmericanExpress, JCB, DinersClub, Discover
