%h1.ui.header
  %i.icon.credit.card.outline
  決済情報の登録

.ui.secondary.center.aligned.segment
  %h3.ui.small.header PROプラン 月額350円(税込)
  %p 14日間のトライアル期間中に解約した場合、一切料金は発生しません。
  = form_tag charges_path do
    %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-email="#{current_user.email}"
            data-key="#{Rails.configuration.stripe[:publishable_key]}"
            data-image="#{asset_path('avatar.png')}"
            data-name="ブンゴウメールPRO"
            data-description="14日間は無料トライアル"
            data-currency="JPY"
            data-amount="350"
            data-label="クレジットカードで決済する"
            data-panel-label="利用登録する（{{amount}}/月）"
            data-allow-remember-me="false"
            data-locale="auto")

%h5.ui.small.header
  %i.icon.info.circle
  購入前にご確認ください
.ui.bulleted.list
  .item ほげ
  .item ほげ
