.mb-8.container.mx-auto.max-w-screen-lg.px-2(class="sm:px-0")
  .flex.flex-wrap.text-sm.items-center
    = link_to 'TOP', current_user ? mypage_path : root_path, class: 'text-link'
    - if @breadcrumbs
      - @breadcrumbs.each do |bread|
        %svg(class="w-4 h-4" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
          %path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
        = link_to_if bread[:link].present?, bread[:text], bread[:link], class: 'text-link'
    - else
      %svg(class="w-4 h-4" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
        %path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z")
      = @meta_title.split(' | ').first
