.text-xs.space-x-2.my-4
  - @breadcrumbs.each do |item|
    - if item[:url]
      = link_to item[:name], item[:url], class: 'text-link'
      %i.fas.fa-angle-right
    - else
      %span= item[:name]

%script(type="application/ld+json")
  = jsonld_breadcrumb(@breadcrumbs).html_safe
