%footer.ui.basic.center.aligned.inverted.segment{class: footer_hidden}
  %h5.ui.header
    ブンゴウメール
    %span.ui.red.small.label PRO
  %br
  .ui.horizontal.list
    %a.item{:href => "https://twitter.com/bungomail", :target => "_blank"} 公式Twitter
    %a.item{:href => "https://bungomail.hatenablog.com/", :target => "_blank"} 公式ブログ
    %a.item{:href => "https://notsobad.jp", :target => "_blank"} 利用規約
    %a.item{:href => "https://notsobad.jp", :target => "_blank"} プライバシーポリシー
    %a.item{:href => "https://notsobad.jp", :target => "_blank"} 特商法
    %a.item{:href => "https://notsobad.jp", :target => "_blank"} 運営
  %br/
  %br/
  %br/
  %div
    %small Copyright ブンゴウメール 2018 All rights reserved.
    %small
      Powered by
      %a{:href => "https://notsobad.jp", :target => "_blank"} NOT SO BAD, LLC.
