.mb-6.bg-gray-100.full-bleed.shadow-sm(style="background-image: url('/assets/images/seigaiha.png')")
  .container.mx-auto.max-w-screen-lg.px-2.py-2.flex.items-center.justify-between(class="sm:px-0")
    %div.flex.items-center
      = link_to 'ブンゴウメール', root_path, class: 'inline-block py-3 text-lg font-bold'
