%h5.ui.small.dividing.header
  %i.icon.search
  姉妹サービス「ゾラサーチ」
= link_to root_url(subdomain: 'search'), target: '_blank' do
  = image_tag('/assets/images/ogp_search.png', class: 'ui large image')
  = root_url(subdomain: 'search')
%div
  青空文庫の作品を
  %b 読了時間
  と
  %b 人気順
  で検索できる、ブンゴウメールの姉妹サービスです。

%h5.ui.small.dividing.header
  %i.icon.question.circle
  お問い合わせ・フィードバック
.ui.secondary.segment
  %p サービスの不具合報告や改善要望などは、以下のフォームからお気軽にご連絡ください！
  = link_to 'https://goo.gl/forms/jE387feQLYysiv5m2', class: 'ui large fluid primary button', target: '_blank' do
    お問い合わせフォーム
  %small （匿名で投稿できます）
