!!!
%html(amp lang="ja")
  %head
    = render partial: 'layouts/meta'
    %link(rel="stylesheet" href="/assets/stylesheets/application.css")

  %body.text-gray-700
    - unless current_page?(root_url)
      = render partial: 'layouts/header'
    .container.mx-auto.max-w-screen-lg.px-2(class="sm:px-0")
      = yield
    = render partial: 'layouts/footer'
