!!!
%html(amp lang="ja")
  %head
    %link(rel="stylesheet" href="/assets/stylesheets/application.css")

  %body.text-gray-700
    .container.mx-auto.max-w-screen-lg
      = yield
    = render partial: 'layouts/footer'
